#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
}
.background1{
  height: 130vh;
  width: 211vh;
  background-color:#000910;
  margin: 0;
  padding: 0;
  overflow-y: scroll auto;
  
}


.sidebar{

  height: 100%;
  width: 260px;
  background-color:rgb(255, 255, 255);

}

.sidebarlist{
height: 100%;
width: 100%;
background-color:#022334;
color: #00ffc7; 
overflow: scroll auto;




}
.sidebar {
  display: flex;
  flex-direction: column; /* Stack list items vertically */
  align-items: flex-start; 
  
}

.sidebarlist ul {
  list-style-type: none; 
   padding: 0;
  margin: 0;
  
}

.sidebar li {
  display: flex; 
  align-items: center; 
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-items: left;


}

.sidebar-item {
  display: flex;
  align-items: center;
  /* padding: 5px 10px;  */
  cursor: pointer;
  margin-bottom: 50px; 
  border-radius: 10px;
}

.sidebar-item:hover  {
  background-color: #00ffc7;
  color:rgb(0, 0, 0);
}

.sidebar-item div {
  display: inline-block;
}

.sidebar:hover  {
  background-color: #00ffc7;
  color:rgb(0, 0, 0);
}

#btnnav{
  color:#00ffc7;
}
