#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  
}
.background1{
  height: 130vh;
  width: 300vh;
  background-color:blue;
  margin: -100px;
  padding: 0;
  
}


.sidebar{

  height: 100%;
  width: 200px;
  background-color:rgb(0, 0, 0);

}

.sidebarlist{
height: 100%;
width: 100%;
background-color:aqua;
color: red; 
 overflow-y: scroll auto;

}
.sidebar {
  display: flex;
  flex-direction: column; /* Stack list items vertically */
  align-items: flex-start; /* Align items at the start of the container */
}

.sidebarlist ul {
  list-style-type: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
}

.sidebar li {
  display: flex; /* Enable flexbox for list items */
  align-items: center; /* Align items vertically */
  padding: 10px; /* Adjust padding as needed */
}
